<div class="container">
  <h1>会員情報編集</h1>
  <%= form_with model: @customer, url: public_customer_path , local:true do |f| %>

  <h3>会員ID</h3>
  <h3>氏名 <%= f.text_field :last_name %> <%= f.text_field :first_name %></h3>
  <h3>フリガナ <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kanaast_name %></h3>
  <h3>郵便番号 <%= f.text_field :postal_code %></h3>
  <h3>住所 <%= f.text_field :address %></h3>
  <h3>電話番号 <%= f.number_field :telephone_number %></h3>
  <h3>メールアドレス <%= f.text_field :email %></h3>

  <%= f.submit "編集内容を保存", class: "btn btn-success" %>
  <%= link_to "退会する", unsubscribe_public_customers_path, class: "btn btn-danger" %>
  <% end %>
</div>