<div class="container">
  <h1>ジャンル一覧・追加</h1>
  <div class="row">
    <div class="col-md-4">
      <%= form_with model: genre, local:true do |f| %>
      <% end %>
      <h3>
        <%= f.label :ジャンル名 %>
        <%= f.text_field :genre_name %>
        <%= f.submit '新規登録', class: "btn btn-success" %>
      </h3>

      <table class="table">
        <thead>
          <tr>
            <th>ジャンル</th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= @admin.genre_name %></td>
            <td><%= link_to '編集する', edit_admins_genre_path(@admin), class: "btn btn-success" %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>