<div class="container">
  <span class="page-title"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span>
  <%= form_with model: @customer, url: admins_customer_path , local:true do |f| %>

  <table class="customer-edit-table">
   <tbody>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tbody>

    <tbody>
      <th>氏名</th>
      <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
    </tbody>

     <tbody>
      <th>フリガナ</th>
      <td> <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
    </tbody>

     <tbody>
      <th>郵便番号</th>
      <td><%= f.text_field :postal_code %></td>
    </tbody>

     <tbody>
      <th>住所</th>
      <td><%= f.text_field :address %></td>
    </tbody>

    <tbody>
      <th>電話番号 </th>
      <td><%= f.number_field :telephone_number %></td>
    </tbody>

    <tbody>
      <th>メールアドレス</th>
      <td><%= f.text_field :email %></td>
    </tbody>

    <tbody>
      <th>会員ステータス</th>
      <td>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "有効", value: true %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "退会", value: false %>
      </td>
    </tbody>
  </table>

 </h3>

  <%= f.submit "変更を保存", class: "btn btn-success" %>
  <% end %>
</div>