<div class="container">
  <h1>会員詳細</h1>

  <h3>会員ID <%= @customer.id %></h3>
  <h3>氏名 <%= @customer.last_name %><%= @customer.first_name %></h3>
  <h3>フリガナ <%= @customer.last_name_kana %><%= @customer.first_name_kana %></h3>
  <h3>郵便番号 <%= @customer.postal_code %></h3>
  <h3>住所 <%= @customer.address %></h3>
  <h3>電話番号 <%= @customer.telephone_number %></h3>
  <h3>メールアドレス <%= @customer.email %></h3>
  <h3>会員ステータス <%= @customer.is_active %></h3>

  <%= link_to "編集する", edit_admins_customer_path, class: "btn btn-success" %>
  <%= link_to "注文履歴一覧を見る", admins_path, class: "btn btn-success" %>
</div>