<span class="page-title">注文情報入力</span>

<table class="table">
<%= form_with model: @order, url: confirm_public_orders_path, local: true, do |f| %>
<tbody>
  <tr>
    <th>支払方法</th>
    <td>
      <%= f.radio_button :payment_method, "credit_card" %>
      <%= f.label :payment_method, "クレジットカード" %>
    </td>
    <td>
      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method, "銀行振込" %>
    </td>
  </tr>
</tbody>

<tbody>
  <tr>
    <th>お届け先</th>
    <td>
      <%= f.radio_button :my_address, "1", checked: true %>
      <%= f.label :my_address, "ご自身の住所" %>
      <%= current_customer.postal_code %> <%= current_customer.address %>
      <%= current_customer.last_name %> <%= current_customer.first_name %>
    </td>
  </tr>
</tbody>

<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
</table>