<div class="container">
  <span class="page-title">注文履歴詳細</span>
    <div class="row">
      <div class="col-6">

        <table class="detail-table">
          <strong>注文情報</strong>
          <thead>
            <tr>
              <td>注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
             <tr>
              <td>配送先</td>
              <td><%= @order.postal_code %></td>
              <td><%= @order.address %></td>
              <td><%= @order.name %></td>
            </tr>
             <tr>
              <td>支払方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
             <tr>
              <td>ステータス</td>
              <td><%= @order.status %></td>
            </tr>
          </thead>
        </table>
      </div>

      <table class="item-table">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= @sum += order_detail.item.with_tax_price*order_detail.amount %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="col-4">
        <table class="price-table">
          <strong>請求情報</strong>
          <tr>
            <td>商品合計</td>
            <td><%= @sum %></td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <td><strong>ご請求額</strong></td>
            <td><%= @sum + @order.shipping_fee %></td>
          </tr>
        </table>
      </div>

    </div>
  </div>