



<div class="container">

  <div class="row mb-5">
      <div class="col-3"><span>ログイン</span></div>
  </div>

  <div class="row mb-3">
    <div class="col-3">
         <span>会員の方はこちらからログイン</span>
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= f.label :パスワード %>
    </div>
    <div class="col-9">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="col-3">
      <span>会員登録がお済みでない方</span>
      <%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください
    </div>

</div>
