<div class="container">
  <!--customer側:商品詳細-->
  <div class="row">
    <div class="col-3">

    </div>

    <div class="col-8">
      <div class="item-image">
        <%= attachment_image_tag @item, :image, size: "300x200" %>
      </div>

      <table class="table">
        <thead>
          <th><h2><%= @item.item_name %></h2></th>
        </thead>

        <tbody>
          <tr><td><%= @item.introduction %></td></tr>
          <tr><td>¥<%= (@item.price * 1.1). floor %>(税込)</td></tr>
          <tr>
            <td>
              <%= form_with model:@cart_item, url: public_cart_items_path, local: true do |f| %>
              <%= f.select :amount, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10]], prompt: "個数選択" %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.submit " カートに入れる ", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>