<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span>ながのCAKE</span>
        </a>

        <ul class="navbar-nav ml-auto">

          <% if admin_signed_in? %>
             <li><%= link_to admins_items_path, class: "btn btn-link text-dark" do %>
             </i>商品一覧<% end %></li>

             <li><%= link_to admins_customers_path, class: "btn btn-link text-dark" do %>
             </i>会員一覧<% end %></li>

             <li><%= link_to admins_homes_top_path, class: "btn btn-link text-dark" do %>
             </i>注文履歴一覧<% end %></li>

             <li><%= link_to admins_genres_path, class: "btn btn-link text-dark" do %>
             </i>ジャンル一覧<% end %></li>

             <li><%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-link text-dark" do %>
             </i>ログアウト<% end %></li>
          <% else %>

          <% if customer_signed_in? %>
             <li><%= link_to root_path, class: "btn btn-link text-dark" do %>
             </i>マイページ<% end %></li>

             <li><%= link_to root_path, class: "btn btn-link text-dark" do %>
             </i>商品一覧<% end %></li>

             <li><%= link_to root_path, class: "btn btn-link text-dark" do %>
             </i>カート<% end %></li>

             <li><%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-link text-dark" do %>
             </i>ログアウト<% end %></li>


          <% else %>
             <li><%= link_to home_about_path, class: "btn btn-link text-dark" do %>
             </i>About<% end %></li>

             <li><%= link_to root_path, class: "btn btn-link text-dark" do %>
             </i>商品一覧<% end %></li>

             <li><%= link_to new_customer_registration_path, class: "btn btn-link text-dark" do %>
             </i>新規登録<% end %></li>

             <li><%= link_to new_customer_session_path, class: "btn btn-link text-dark" do %>
             </i>ログイン<% end %></li>
          <% end %>
          <% end %>

          </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
